/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER  1
#define RAISE  2
#define ADJUST 3

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
    macros {
        sft_y_base: sft_y_base {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&to 0>,
                <&macro_press>,
                <&kp RIGHT_SHIFT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp RIGHT_SHIFT>;

            label = "SFT_Y_BASE";
        };

        mom_alt: mom_alt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&tog 7>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&tog 7>;

            label = "MOM_ALT";
        };

        lalt_tab: lalt_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LEFT_ALT>, <&macro_tap>, <&kp TAB>;

            label = "LALT_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Heliks014 {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | GRAVE  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  DEL   |
            // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
            // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '    |
            // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |  LBKT  |                    |  RBKT  |   N    |   M    |   ,    |   .    |   /    |  RET   |
            // | ADJUST |  ESC   |  ALT   |  LGUI  | EISUU  | LOWER  | SPACE  |                    |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |

            bindings = <
&kp ESC         &kp N6        &kp N4      &kp N2     &kp N0  &kp N8                                       &kp N9     &kp N1  &kp N3    &kp N5  &kp N7   &kp DEL
&to 1           &kp X         &kp B       &kp P      &kp H   &kp Y                                        &kp J      &sl 4   &kp R     &kp C   &kp M    &to 1
&kp LEFT_SHIFT  &kp I         &kp A       &kp E      &kp O   &kp U                                        &kp D      &kp T   &kp S     &kp N   &kp L    &kp RIGHT_SHIFT
&kp LEFT_SHIFT  &kp LEFT_ALT  &kp PERIOD  &kp COMMA  &kp F   &kp K      &kp C_VOL_DN     &kp C_VOLUME_UP  &kp Z      &kp Q   &kp V     &kp G   &kp TAB  &kp RIGHT_SHIFT
&mo 10          &mo 9         &mo 8       &mom_alt   &mo 6   &kp SPACE  &kp BACKSPACE    &kp ENTER        &kp SPACE  &mo 6   &mom_alt  &mo 8   &mo 9    &mo 10
            >;
        };

        Movimiento {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |      |      |      |      |      |      |                                  |      |      |      |      |      |      |
            // |  ~   |  !   |  @   |  #   |  $   |  %   |                                  |  ^   |  &   |  *   |  (   |  )   |      |
            // |      |      |      |      |      |      |                                  |      |  _   |  +   |  {   |  }   | PIPE |
            // |      |      |      |      |      |      |  (   |                    |  )   |      |      |      | HOME | END  |      |
            // |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |

            bindings = <
&kp ESC      &kp N6        &kp N4        &kp N2        &kp N0         &kp N8                                          &kp N9              &kp N1     &kp N3           &kp N5   &kp N7   &kp DEL
&trans       &kp RC(HOME)  &kp RC(LEFT)  &kp UP_ARROW  &kp RC(RIGHT)  &kp RC(UP_ARROW)                                &kp RS(RCTRL)       &mo 4      &mo 5            &kp ESC  &none    &trans
&sft_y_base  &kp HOME      &kp LEFT      &kp DOWN      &kp RIGHT      &kp END                                         &kp RCTRL           &kp LC(C)  &kp RIGHT_SHIFT  &kp F2   &none    &sft_y_base
&trans       &kp LEFT_ALT  &kp RS(TAB)   &kp RC(DOWN)  &kp TAB        &kp RC(END)       &kp C_VOL_DN    &kp C_VOL_UP  &kp K_CONTEXT_MENU  &kp LC(X)  &kp LC(V)        &kp F2   &kp TAB  &trans
&trans       &trans        &trans        &trans        &trans         &trans            &trans          &trans        &trans              &trans     &trans           &trans   &trans   &trans
            >;
        };

        Navegacion {
            bindings = <
&kp ESC  &kp N6        &kp N4            &kp N2         &kp N0             &kp N8                                          &kp N9              &kp N1     &kp N3           &kp N5   &kp N7   &kp DEL
&trans   &kp RC(HOME)  &kp PAGE_UP       &kp RS(TAB)    &kp PAGE_DOWN      &kp RC(UP_ARROW)                                &kp RS(RCTRL)       &mo 4      &mo 5            &kp ESC  &none    &trans
&trans   &kp HOME      &kp RS(RC(LEFT))  &kp TAB        &kp RC(TAB)        &kp END                                         &kp RCTRL           &kp LC(C)  &kp RIGHT_SHIFT  &kp F2   &none    &trans
&trans   &kp LEFT_ALT  &kp RC(PAGE_UP)   &kp PAGE_DOWN  &kp RC(PAGE_DOWN)  &kp RC(END)       &kp C_VOL_DN    &kp C_VOL_UP  &kp K_CONTEXT_MENU  &kp LC(X)  &kp LC(V)        &kp F2   &kp TAB  &trans
&trans   &trans        &trans            &trans         &trans             &trans            &trans          &trans        &trans              &trans     &trans           &trans   &trans   &trans
            >;
        };

        Auxiliar {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |    `     |    !     |    @     |    #     |    $     |    %     |                                          |    ^     |    &     |    *     |    (     |    )     |  EP TOG  |
            // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
            // |  BT NXT  | OUT TOG  | OUT USB  | OUT BLE  |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
            // |  BT PRV  |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |          |
            // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |

            bindings = <
&kp ESC  &kp N7        &kp N5        &kp N3        &kp N1         &kp N8                                 &kp N9     &kp N0     &kp N2           &kp N4      &kp N6   &kp DEL
&trans   &trans        &kp RC(LEFT)  &kp UP_ARROW  &kp RC(RIGHT)  &trans                                 &trans     &mo 4      &mo 5            &kp LA(F4)  &trans   &trans
&trans   &kp HOME      &kp LEFT      &kp DOWN      &kp RIGHT      &kp END                                &trans     &kp LC(X)  &kp RIGHT_SHIFT  &kp LA(F4)  &trans   &trans
&trans   &kp LEFT_ALT  &kp RS(TAB)   &kp RC(DOWN)  &kp TAB        &trans     &trans           &trans     &trans     &kp LC(X)  &kp LC(V)        &trans      &kp TAB  &trans
&trans   &trans        &trans        &trans        &trans         &kp SPACE  &kp BACKSPACE    &kp ENTER  &kp ENTER  &trans     &trans           &trans      &trans   &trans
            >;
        };

        Acentos {
            bindings = <
&trans  &trans            &kp SLASH         &kp DOT           &kp SLASH         &trans                        &trans  &trans  &kp GRAVE  &kp RA(COMMA)  &trans  &trans
&trans  &trans            &trans            &kp SEMICOLON     &kp W             &trans                        &trans  &trans  &to 2      &to 1          &to 3   &trans
&trans  &kp RA(NUMBER_1)  &kp RA(NUMBER_2)  &kp RA(NUMBER_3)  &kp RA(NUMBER_4)  &kp RA(N5)                    &trans  &trans  &trans     &trans         &trans  &trans
&trans  &trans            &trans            &trans            &kp RA(U)         &trans      &trans    &trans  &trans  &trans  &trans     &trans         &trans  &trans
&trans  &trans            &trans            &trans            &trans            &trans      &trans    &trans  &trans  &trans  &trans     &trans         &trans  &trans
            >;
        };

        Tabulacion {
            bindings = <
&kp ESC  &kp N7  &kp N5              &kp N3              &kp N1               &kp N8                    &kp N9  &kp N0  &kp N2  &kp N4       &kp N6  &kp DEL
&trans   &trans  &trans              &kp LA(UP_ARROW)    &trans               &trans                    &trans  &trans  &trans  &kp LA(TAB)  &trans  &trans
&trans   &trans  &kp LA(LEFT_ARROW)  &kp LA(DOWN_ARROW)  &kp LA(RIGHT_ARROW)  &trans                    &trans  &trans  &trans  &trans       &trans  &trans
&trans   &trans  &trans              &trans              &trans               &trans  &trans    &trans  &trans  &trans  &trans  &trans       &trans  &trans
&trans   &trans  &trans              &trans              &trans               &trans  &trans    &trans  &trans  &trans  &trans  &trans       &trans  &trans
            >;
        };

        Simbolos {
            bindings = <
&trans          &trans     &kp RS(F3)      &trans          &kp RC(N)      &trans                           &trans             &kp LA(F4)         &kp F5            &kp F2     &trans             &trans
&trans          &kp RA(X)  &kp RA(B)       &kp RA(P)       &kp RA(H)      &kp RA(Y)                        &kp RA(J)          &kp RA(S)          &kp RA(R)         &kp RA(C)  &kp RA(M)          &trans
&kp LEFT_SHIFT  &kp RA(A)  &kp SLASH       &kp RA(SLASH)   &kp RA(O)      &kp RA(U)                        &kp RA(D)          &kp RA(T)          &kp LS(NUMBER_2)  &kp RA(N)  &kp RA(L)          &kp RIGHT_SHIFT
&trans          &kp RA(Q)  &kp RA(PERIOD)  &kp RA(COMMA)   &kp RA(F)      &kp RA(K)      &trans    &trans  &kp RA(Z)          &kp RA(W)          &kp RA(V)         &kp RA(G)  &kp RA(SEMICOLON)  &trans
&trans          &trans     &trans          &kp LEFT_SHIFT  &kp RA(COMMA)  &kp RA(COMMA)  &trans    &trans  &kp RA(BACKSLASH)  &kp RA(BACKSLASH)  &kp RIGHT_SHIFT   &trans     &trans             &trans
            >;
        };

        Momentaneo {
            bindings = <
&kp ESC    &kp N7        &kp N5          &kp N3              &kp N1          &kp N8                              &kp N9  &kp N0           &kp N2             &kp N4     &kp N6  &kp DEL
&lalt_tab  &kp RC(HOME)  &kp RC(LEFT)    &kp UP_ARROW        &kp RC(RIGHT)   &kp RC(UP_ARROW)                    &trans  &trans           &kp CAPS           &trans     &trans  &lalt_tab
&trans     &kp HOME      &kp LEFT_ARROW  &kp DOWN_ARROW      &kp RIGHT       &kp END                             &trans  &trans           &kp LG(V)          &trans     &trans  &trans
&trans     &kp RC(TAB)   &kp RS(TAB)     &kp RC(DOWN_ARROW)  &kp TAB         &kp RC(END)       &trans    &trans  &trans  &trans           &trans             &trans     &trans  &trans
&trans     &trans        &lalt_tab       &kp RC(PAGE_UP)     &kp LEFT_SHIFT  &trans            &trans    &trans  &trans  &kp RIGHT_SHIFT  &kp LC(PAGE_DOWN)  &lalt_tab  &trans  &trans
            >;
        };

        Control {
            bindings = <
&kp RC(ESC)  &kp RC(N6)        &kp RC(N4)  &kp RC(N2)  &kp RC(N0)      &kp RC(N8)                       &kp LC(N9)  &kp LC(N1)       &kp LC(N3)    &kp LC(N5)  &kp LC(N7)         &kp LC(DEL)
&trans       &kp RC(Q)         &kp RC(S)   &kp RC(N)   &kp RC(K)       &kp RC(H)                        &kp LC(J)   &kp LC(R)        &kp LC(Z)     &kp LC(Y)   &kp LC(M)          &trans
&trans       &kp RC(A)         &kp RC(E)   &kp RC(C)   &kp RC(X)       &kp RC(U)                        &kp LC(D)   &kp LC(L)        &kp LC(V)     &kp LC(T)   &kp LC(B)          &trans
&trans       &kp RC(DOT)       &kp RC(O)   &kp RC(W)   &kp RC(I)       &kp RC(COMMA)  &trans    &trans  &kp LC(P)   &kp LC(F)        &kp LC(G)     &kp LC(S)   &kp LC(SEMI)       &trans
&trans       &kp LEFT_CONTROL  &kp TAB     &kp LALT    &kp LEFT_SHIFT  &trans         &trans    &trans  &trans      &kp RIGHT_SHIFT  &kp LEFT_ALT  &kp TAB     &kp RIGHT_CONTROL  &trans
            >;
        };

        Alt_Funcion {
            bindings = <
&kp F11  &kp F7     &kp F5        &kp F3     &kp F1     &kp F9                       &kp F8     &kp F10    &kp F2     &kp F4        &kp F6     &kp F12
&trans   &kp LA(X)  &kp LA(B)     &kp LA(P)  &kp LA(H)  &kp LA(Y)                    &kp LA(J)  &kp LA(J)  &kp LA(R)  &kp LA(C)     &kp LA(M)  &trans
&trans   &kp LA(I)  &kp LA(A)     &kp LA(E)  &kp LA(O)  &kp LA(U)                    &kp LA(D)  &kp LA(T)  &kp LA(S)  &kp LA(N)     &kp LA(L)  &trans
&trans   &kp LA(W)  &kp LA(W)     &kp LA(Q)  &kp LA(F)  &kp LA(K)  &trans    &trans  &kp LA(Z)  &kp LA(Q)  &kp LA(V)  &kp LA(G)     &trans     &trans
&trans   &trans     &kp LEFT_ALT  &trans     &trans     &trans     &trans    &trans  &trans     &trans     &trans     &kp LEFT_ALT  &trans     &trans
            >;
        };

        Ventanas {
            bindings = <
&trans        &kp LG(N7)  &kp LG(N6)          &kp LG(N5)          &kp LG(N4)     &trans                    &trans  &kp LG(N1)  &kp LG(N2)  &kp LG(N3)  &kp LG(N8)  &trans
&trans        &trans      &trans              &kp LG(UP_ARROW)    &trans         &trans                    &trans  &trans      &kp LG(L)   &trans      &trans      &trans
&trans        &trans      &kp LG(LEFT_ARROW)  &kp LG(DOWN_ARROW)  &kp LG(RIGHT)  &trans                    &trans  &trans      &trans      &trans      &trans      &trans
&trans        &trans      &trans              &trans              &trans         &trans  &trans    &trans  &trans  &trans      &trans      &trans      &trans      &trans
&kp LEFT_GUI  &to 3       &trans              &trans              &trans         &trans  &trans    &trans  &trans  &trans      &trans      &trans      &to 3       &kp LEFT_GUI
            >;
        };
    };
};
